{% extends 'base.html' %}
{% load static %}
{% block content %}

    {% include 'partials/_header.html' %}
    <div>
        <h2 class="container text-muted text-center"> Pesquise sua origem</h2>
    </div>

    <div class="container border-bottom border-top pb-3 pt-3">
    <form class="d-flex" role="search" action="{% url 'busca' %}" method="GET">
        <input class="form-control me-2" name="buscar" placeholder="Insira seu sobrenome" required>
        <button class="btn btn-secondary" type="submit">Pesquisar</button>
      </form>
    </div>
    {% if 'buscar' in request.GET %}
            {% if pessoas %}
        <div class="">
            <table class="table table-striped table-hover">
                <h4 class="text-muted text-center pt-2">Total de resultados: {{total}}</h4>
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Fonte</th>
                        <th scope="col">Provincia</th>
                        <th scope="col">Comune</th>
                        <th scope="col">Data Nacimento</th>
                        <th scope="col">Paternidade</th>
                        <th scope="col">Conjuge</th>
                        <th scope="col">Data Casamento</th>
                        <th scope="col">Matrimonio</th>
                        <th scope="col">Chegada ao Brasil</th>
                        <th scope="col">Local de Chegada</th>        
                    </tr>
                </thead>
                <tbody>
            {% for pessoa in pessoas %}
                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td>{{pessoa.nome}}</td>
                        <td>{{pessoa.fonte}}</td>
                        <td>{{pessoa.provincia}}</td>
                        <td>{{pessoa.comune}}</td>:
                        <td>{{pessoa.data_nascimento}}</td>
                        <td>{{pessoa.paternidade}}</td>
                        <td>{{pessoa.conjuge}}</td>
                        <td>{{pessoa.data_casamento}}</td>
                        <td>{{pessoa.matrimonio}}</td>
                        <td>{{pessoa.chegada_ao_brasil}}</td>
                        <td>{{pessoa.local_de_chegada}}</td>
                    </tr>
            {% endfor %}
                </tbody>
            </table>
        </div>        
        {% elif not pessoas %}
            <div class="container pb-3 pt-3">
                <h3> Não encontramos o nome, solicite uma busca avançada clicando aqui</h3>
            </div>
        {% endif %}
    {% endif %}

    {% include 'partials/_footer.html' %}

{% endblock %}