{% extends 'base.html' %}
{% load static %}
{% block content %}

    {% include 'partials/_header.html' %}

    <div class="container">
        
        <h1 class="pb-4 mb-4 fst-italic border-bottom text-center">
            Quem somos
          </h1>
            <h3 class="blog-post-title mb-1">Lorem ipsum</h3>
    
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nec orci ullamcorper sapien feugiat iaculis. Cras vel placerat elit, a vulputate tellus. Proin eget est aliquet, lobortis ante ut, luctus odio. Sed non nulla dictum, faucibus nunc interdum, malesuada massa. Nullam eu massa at metus consequat efficitur ultrices sit amet neque. Donec placerat odio quis diam tempor pharetra. In consequat venenatis purus. Quisque dictum risus id ipsum vulputate, non molestie justo bibendum. In eget ex quis nisi dignissim tincidunt in a justo. Proin blandit tempus consequat. Aliquam sit amet ex pharetra urna posuere fringilla iaculis in quam. Sed placerat ut tortor et convallis. Curabitur vestibulum est enim, quis eleifend ipsum consequat mattis. Aliquam et ligula ante.</p>    
            <hr>
            <p>Nunc rutrum orci fringilla, imperdiet massa quis, tempor metus. Mauris felis lorem, lobortis eget dui in, tristique luctus diam. Nam vitae mi ut nisi congue luctus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut dictum volutpat dui ut auctor. Pellentesque consequat orci ipsum</p>
            <h3>Dolor sit</h3>
            <p></p>
            <blockquote class="blockquote">
                Cras nec orci ullamcorper sapien feugiat iaculis.
            </blockquote>
            <p>Ut eget efficitur sapien. Vivamus odio mi, iaculis et ligula et, pharetra sodales mi. Suspendisse potenti. Proin a dapibus dui, at egestas massa. Etiam posuere tincidunt facilisis. In ullamcorper euismod arcu quis facilisis. Nulla cursus neque ante, a mollis arcu tempus tristique.</p>

    </div>

    {% include 'partials/_footer.html' %}

{% endblock %}